<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Haaland</title>
 <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
     <script src="../static/js/echarts.min.js"></script>
     <script src="../static/js/china.js"></script>
</head>
<body>
<div>
    <div id="title">2022年中国足球球迷数据</div>
    <div id="time"></div>
    <div id="left1"></div>
    <div id="left2"></div>
    <div id="center1"></div>
    <div id="center2"></div>
    <div id="right1"></div>
    <div id="right2"></div>
</div>



<script src="../static/js/left1.js"></script>
<script src="../static/js/left2.js"></script>
<script src="../static/js/right1.js"></script>
<script src="../static/js/right2.js"></script>
<script src="../static/js/center2.js"></script>
<script src="../static/js/controller.js"></script>
</body>
</html>